#Defaults
SNAPSHOT_INTERVAL=30
DAILY_VIDEO_TIME=08:00
DIR=/srv/whetupulse/
TZ=America/Chicago

#NonDefaults
STREAM=https://www.youtube.com/watch?v=mhJRzQsLZGg
#APIKeys
consumer_key=
consumer_secret=
#AccessTokens
token=
token_secret=
#BearerToken
bearer_token=